*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    padding: 2em;
    font: 14px/1.5 Lato, sans-serif;
}

.site {
    max-width: 900px;
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 0, 0.2);
    border-radius: 0.3em;
}

.site > * {
    padding: 0 2em 0;
}

main :nth-child(1) {
    font-size: 16px;
}

footer p {
    font-style: italic;
}

strong {
    font-style: normal;
}